.not-logged-in.page-user #page #columns.show-msg {
  width: 873px;
}

form > div {
  /** clears it */
  overflow: auto;
}

#user-login fieldset {
  border: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  height: auto;
  margin: 10px 0;
  padding-top: 5px;
}

#user-login fieldset,
.pin-button {
  width: 90%;
}

#columns.show-msg #user-login fieldset,
#columns.show-msg .pin-button {
  width: 50%;
}

.pin-button,
#user-login fieldset legend {
  display: inline-block;
  border-radius: 5px;
  background-color: lightgreen;
  color: white;
  margin: 15px 0;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-left: 10px;
}

#user-login fieldset legend {
  font-weight: normal;
  width: 100%;
  padding-right: 0;
}

#user-login fieldset legend .fieldset-legend {
  background-image: none;
  padding-left: 0;
}

.pin-button:hover,
#user-login fieldset legend:hover {
  background-color: darkgreen;
}

.pin-button a,
#user-login fieldset legend a {
  display: block;
  padding: 2px;
  color: black !important;
}

.pin-button:hover a,
#user-login fieldset legend:hover a {
  color: white !important;
}

.not-logged-in.page-user #columns #main-content h1#page-title {
  margin-bottom: 1em !important;
}

#footer .footer-login {
  display: none !important;
}

.summary {
  display: none;
}

@-moz-document url-prefix() {
  #edit-pin-fieldset {margin: 10px 0 0 0 !important;}
}

#pin-message {
  float: right;
  width: 40%;
  margin: 15px 0;
  display: none;
}

#columns.show-msg #pin-message {
  display: block;
}

